{% extends 'base.html' %}

{% block content %}
<div class="container col-md-6">
  <form method="post">
    {% csrf_token %}
    <div class="card mt-4">
      <div class="card-body">
        <h2 class="card-title mb-4">Удаление пользователя</h2>
        <p>Вы уверены, что хотите удалить {{ object.username }}?</p>
        <button type="submit" class="btn btn-danger">Да, удалить</button>
        <a href="{% url 'users:list' %}" class="btn btn-secondary">Отмена</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}